<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataAccessLayer.Properties.Settings.cs3280DemoConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=cs3280Demo;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DataAccessLayer.Properties.Settings.cs3280DemoConnectionString1"
            connectionString="Data Source=LAPTOP-R4LKT79P\LOCALHOST;Initial Catalog=cs3280Demo;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>