@{
    Courses studentCourses = (Courses)ViewData["StudentCourses"];
    Transactions studentTransactions = (Transactions)ViewData["UserTransactions"];
    ViewBag.studentTransactions = Newtonsoft.Json.JsonConvert.SerializeObject(studentTransactions);
}

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var _studentTransactions = @Html.Raw(ViewBag.studentTransactions);
        console.log(_studentTransactions);
    })
</script>
<div class="container">
    <div class="card p-4">
        <div class="card-body">
            <div class="row">
                <div class="well col-md-12 col-xs-offset-1 col-sm-offset-1 col-md-offset-3">
                    <div class="row">
                        <div class="text-center">
                            <h1>Receipt</h1>
                        </div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Courses</th>
                                    <th class="text-center">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ int grandTotal = 0; }
                                @if (studentCourses.CourseList != null)
                                {
                                    @for (int i = 0; i < studentCourses.CourseList.Count; i++)
                                    {
                                        <tr>
                                            <td class="col-md-9"><em>@studentCourses.CourseList[i].ClassTitle | @studentCourses.CourseList[i].ClassNumber</em></td>
                                            <td class="col-md-1 text-center">$@(studentCourses.CourseList[i].Credits * 100)</td>
                                            @{ grandTotal += studentCourses.CourseList[i].Credits * 100; }
                                        </tr>
                                            }
                                    }
                                <tr>
                                    <td class="text-right"><h4><strong>Total: </strong></h4></td>
                                    <td class="text-center text-danger"><h4><strong>$@grandTotal</strong></h4></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <form>
                <h4 class="text-center">Payment</h4>
                <div class="row">
                    <div class="col-md-6">
                        <label for="cc-name">Name on card</label>
                        <input type="text" class="form-control" id="cc-name" placeholder="" required>
                        <br />
                        <small class="text-muted">Full name as displayed on card</small>
                    </div>
                    <div class="col-md-6">
                        <label for="cc-number">Credit card number</label>
                        <input type="text" class="form-control" id="cc-number" placeholder="" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label for="cc-expiration">Expiration</label>
                        <input type="text" class="form-control" id="cc-expiration" placeholder="MM/YY" required>
                    </div>
                    <div class="col-md-3">
                        <label for="cc-cvv">CVV</label>
                        <input type="text" class="form-control" id="cc-cvv" placeholder="122" required>
                    </div>
                    <div class="col-md-3">
                        <label for="cc-amount">Amount</label>
                        <input type="text" class="form-control" id="cc-amount" placeholder="$" required>
                    </div>
                </div>
                <br />
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>